<a href="https://colab.research.google.com/github/Yogesh-325/ML-DS-Course-Learning/blob/main/Day_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Datatypes and Operators

**Arithematic Operators**

In [ ]:
a = 15
b = 4

print("Addition:",a+b)
print("Substraction:",a-b)
print("Multiplication:",a*b)
print("Division:",a/b)
print("Floor Division:",a//b)
print("Modulus:",a%b)
print("Exponentiation:",a**b)

Addition: 19
Substraction: 11
Multiplication: 60
Division: 3.75
Floor Division: 3
Modulus: 3
Exponentiation: 50625

**Comparision Operators**

In [ ]:
a = 13
b = 14

print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

**Logical Operators**

In [ ]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)
print(not b)

False
True
False
True

**Bitwise Operators**

In [ ]:
a = 10
b = 4

print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(a ^ b)

0
14
14
-11
14

**Assignment Operators**

In [ ]:
a = 10
b = a
print(b)
b+=a
print(b)
b-=a
print(b)
b*=a
print(b)
b<<=a
print(b)

10
20
10
100
102400

**Identity Operator**

In [ ]:
a = 10
b = 20
c = a

print(a is not b)
print(a is c)

True
True

**Membership Operator**

In [1]:
x = 24
y = 20
list = [10, 20, 30, 40, 50]

if (x not in list):
  print("x is NOT present in given list")
else:
  print("x is present in given list")


if(y in list):
  print("y is present in given list")
else:
  print("y is NOT present in given list")

x is NOT present in given list
y is present in given list

**Ternary Operator**

In [2]:
a, b = 10, 20

min = a if a < b else b
print(min)

10

**Precedence and Associativity Of Operators**

In [3]:
expr = 10 + 20 + 30
print(expr)

name = "Alex"
age = 0

if name == "Alex" or name == "John" and age >= 2:
  print("Hello! Welcome.")
else:
  print("Good Bye!!")

60
Hello! Welcome.

**Operator Associativity**

In [7]:
print(100/10*10)
print(5 - 2 + 3)
print(5 - (2 + 3))
print(2 ** 3 ** 2)
print(2**9)

100.0
6
0
512
512

#Python Datatypes

**1. Numerical Data Types**

In [8]:
a = 5
b = 5.0
c = 2 + 4j

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

**2. Sequence Daty Types**

In [9]:
s = 'Welcome to the Jungle'

print(s)
print(type(s))

print(s[1])
print(s[2])
print(s[-1])

Welcome to the Jungle
<class 'str'>
e
l
e

**3. List Data Types**

In [13]:
a = []

a = [1, 2, 3]
print(a)

b = ["Geeks", "For", "Geeks", 4, 5]
print(b)

#accesing element form the list

print(a[0])
print(b[-3])

[1, 2, 3]
['Geeks', 'For', 'Geeks', 4, 5]
1
Geeks

**Tuple Data Type**

In [19]:
tup1 = ()

tup1 = ('Geeks', 'For', 'Geeks')
print("\nTuple with the use of String: ",tup2)

#Accessing Tuple Item
print(tup1[0])
print(tup1[-2])
print(tup1[-3])

Tuple with the use of String:  ('Geeks', 'For', 'Geeks')
Geeks
For
Geeks

**Boolean Data Type**

In [21]:
print(type(True))
print(type(False))
# print(type(true)) #throw error
print(type("true"))

<class 'bool'>
<class 'bool'>
<class 'str'>

**Truthy and Falsy Values**

In [22]:
if 1:
  print("1 is truthy")

if not 0:
  print("0 is falsy")

1 is truthy
0 is falsy

**4. Set Data Types**

In [32]:
s1 = set()

s1 = set("GeeksForGeeks")
print("Set with the use of String: ", s1)

s2 = set(["Geeks","For","Geeks"])
print("Set with the use of List: ", s2)

# Access Set Items

for i in s1:
  print(i, end=" ") #prints elements one by one

#check if item exist in set
print("G" in s1)
print("Geeks" in s1)

Set with the use of String:  {'F', 'G', 'r', 'e', 's', 'k', 'o'}
Set with the use of List:  {'For', 'Geeks'}
F G r e s k o True
False

**5. Dictionary Data Types**

In [33]:
d = {}

d = {1:'Geeks', 2:'For', 3:'Geeks'}
print(d)

#creating dictionary Using dict() constructor
d1 = dict({1: 'Geeks', 2: 'For', 3:'Geeks'})
print(d1)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [35]:
# Accessing Key-value in Dictionary

d = {1: 'Geek', 2: 'For', 3: 'Geeks'}

print(d[1])

print(d.get(2))

Geek
For

#Conditional Statements

In [37]:
a = 20

if a >= 18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")


# Short Hand if
age = 19
if age > 18: print("You are eligible to vote")

You are eligible to vote
You are eligible to vote

In [38]:
# Short Hand if-else

marks = 45
res = "Pass" if marks >= 40 else "Fail"
print(f"Result: {res}")

Result: Pass

**elif Statement**

In [39]:
age = 25

if age <= 12:
    print("Child.")
elif age <= 19:
    print("Teenager.")
elif age <= 35:
    print("Young adult.")
else:
    print("Adult.")

Young adult.

**Nested if..else Conditional Statement**

In [40]:
age = 70
is_member = True

if age >= 60:
    if is_member:
        print("30% senior discount!")
    else:
        print("20% senior discount.")
else:
    print("Not eligible for a senior discount.")

30% senior discount!

**Ternary Conditional Statement**

In [41]:
# Assign a value based on a condition
age = 20
s = "Adult" if age >= 18 else "Minor"
print(s)

Adult

**Match-Case Statement**

In [42]:
number = 2

match number:
    case 1:
        print("One")
    case 2 | 3:
        print("Two or Three")
    case _:
        print("Other number")

Two or Three