<a href="https://colab.research.google.com/github/Yogesh-325/ML-DS-Course-Learning/blob/main/Day_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world!!")

hello world!!

In [ ]:
name = input("enter your name : ")
print ("Hello, ", name, "! Welcome!")

enter your name : yogesh
Hello,  yogesh ! Welcome!

In [ ]:
s = "Bob"
print(s)

s = "Alice"
age = 25
city = "New York"
print(s, age, city)

Bob
Alice 25 New York

In [ ]:
x, y = input("Enter two values: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)

x, y, z = input("Enter three values: ").split()
print("First number: ", x)
print("Second number: ", y)
print("Third number: ", z)

Enter two values: hi hello
Number of boys:  hi
Number of girls:  hello
Enter three values: 33 45 22
First number:  33
Second number:  45
Third number:  22

In [ ]:
#change the type of input

#taking input as a string
color = input("What is the color of rose?: ")
print(color)

#taking input as int
#typecasting to int
n = int(input("How many roses do you want in bffe?: "))
print(n)

#taking input as float
#Typecasting to float
price = float(input("Price of each rose?: "))
print(price)

What is the color of rose?: red
red
How many roses do you want in bffe?: 32
32
Price of each rose?: 21.5
21.5

In [ ]:
#find Datatypes of input in python
a = "Hello World"
b = 10
c = 11.33
d = ("geeks", "for", "geeks")
e = ["Geeks", "for", "Geeks"]
f = {"Geeks": 1, "for": 2, "Geeks": 3}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

## Python Variables

In [ ]:
x = 5
name = "Samantha"

print(x)
print(name)

age = 21
_color = "lilac"
total_score = 90

print(age)
print(_color)
print(total_score)

#invalid :starta with digits: 1name = "Error" , reserved keywords: class = 10, contain a hyphen : user-name = "Yogi"


x = "Now x is a string"
print(type(x))

# multiple assignments

a = b = c = 100
print(a,b,c)

# assigning different Values
i, j, k = 1, 2.4, "yogi bhai"
print(i,j,k)

5
Samantha
21
lilac
90
<class 'str'>
100 100 100
1 2.4 yogi bhai

In [ ]:
# typecasting a variable

s = "10"
n = int(s)

cnt = 5
f = float(cnt)

age = 25
s2 = str(age)

print(s, n, cnt, f, age, s2)

print(type(s))
print(type(n))
print(type(cnt))
print(type(f))
print(type(age))
print(type(s2))

10 10 5 5.0 25 25
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>

In [ ]:
x = 10
print(x)

del x
# print(x) #this will give us name error because 'x' is not defined

10

Swapping two Variable

In [ ]:
a, b = 5, 10
a, b = b, a
print(a, b)

10 5

counting characters in a string

In [ ]:
word = "Python"
length = len(word)

print("Length of the word:", length)

Length of the word: 6

Python Keywords

In [ ]:
import keyword

print("The list of keywords is : ")
print(keyword.kwlist)

The list of keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
for = 10
# print(for) # this also gives SyntaxError: invalid syntax

SyntaxError: invalid syntax (ipython-input-3359357732.py, line 1)